<!-- templates/index.html -->

{% extends "base.html" %}


{% block content %}


<div class="flex flex-col p-3  rounded-md sm:p-10 border w-[85%] md:w-[35%] m-auto border-black  dark:text-black bg-blue-300"
 style="margin-top: 6rem; margin-bottom:6rem;">
	<div class="mb-8 text-center">
		<h1 class="my-1 text-4xl font-bold">Login</h1>
		<p class="text-sm dark:text-gray-400 font-serif">Login to access your account</p>
	</div>
	<form novalidate="" action="" class="space-y-6"  method="post" >
        {% csrf_token %} 
        {% if messages %}
        <div
            class="mb-4 border border-black bg-blue-500 rounded-lg bg-info-100 px-6 py-5 text-base text-info-800"
            role="alert">
                {% for message in messages %}
                {{message}}
                {% endfor %}
        </div>
        {% endif %}
		<div class="space-y-4">
			<div>
				<label for="email" class="block mb-2 text-sm">Email</label>
				<input type="text" name="email" id="email" placeholder="leroy@jenkins.com" class="w-full px-3 py-2 border rounded-md dark:border-gray-700  dark:text-black">
			</div>
			<div>
				<div class="flex justify-between mb-2">
					<label for="password" class="text-sm">Password</label>
				</div>
				<input type="password" name="password" id="password" placeholder="*****" class="w-full px-3 py-2 border rounded-md dark:border-gray-700  dark:text-black">
			</div>
		</div>
		<div class="space-y-2">
			<div>
				<button type="submit" class="w-full px-8 py-3 font-semibold   border border-red-600 rounded-md">Login</button>
			</div>
			<p class="px-6 text-sm text-center underline dark:text-gray-600">Don't have an account yet?
				<a rel="noopener noreferrer" href="/sign" class="hover:underline dark:text-violet-700">Sign in</a>.
			</p>
		</div>
	</form>
</div>








{% endblock content %}