<!-- templates/index.html -->

{% extends "base.html" %}


{% block content %}
{% if order_has %} 
<div class="py-8 px-4 md:px-6 2xl:px-20 2xl:container 2xl:mx-auto">
    <div class="flex justify-start item-start space-y-2 flex-col">
        <h1 class="text-3xl dark:text-black text-center lg:text-4xl font-semibold leading-7 lg:leading-9 text-gray-800">Orders 🐱‍🚀🎁🧧</h1>
       
    </div> 
    <div class="mt-10 flex flex-col xl:flex-row jusitfy-center items-stretch w-full xl:space-x-8 space-y-4 md:space-y-6 xl:space-y-0">
        <div class="flex flex-col justify-start items-start w-full space-y-4 md:space-y-6 xl:space-y-8">
            <div class="flex flex-col justify-start items-start  bg-gray-50 px-4 py-4 md:py-6 md:p-6 xl:p-8 w-full">
                <p class="text-lg md:text-xl dark:text-black font-semibold leading-6 xl:leading-5 text-gray-800">
                    {{request.user.first_name}}'s Orders</p>
                {% for order in orders %}
                {% for prod in order.cart.order_items.all %}
                {% for product in prod.cart.cart_items.all %}
                <div class="mt-4 md:mt-6 flex flex-col md:flex-row justify-start items-start md:items-center md:space-x-6 xl:space-x-8 w-full">
                    <div class="pb-4 md:pb-8 w-full md:w-40">
                        <a href="{% url 'details_page' product.products.slug %}">
                        <img class="w-full h-[10rem] object-contain" src="/media/{{product.products.product_images.last.image}}" alt="dress" />
                    </a>
                    </div>
                    <div class="border-b border-gray-200 md:flex-row flex-col flex justify-between items-start w-full pb-8 space-y-4 md:space-y-0">
                        <div class="w-full flex flex-col justify-start items-start space-y-8">
                            <h3 class="text-[15px] dark:text-black  font-semibold leading-6 text-gray-800">{{product.products.product_description}}</h3>
                            <div class="flex justify-start items-start flex-col space-y-2">
                                <p class="text-sm dark:text-black leading-none text-gray-800">Style:<span class="dark:text-gray-400 text-blue-700">{{product.products.product_name}} </span> </p>
                                <p class="text-sm dark:text-black leading-none text-gray-700">Size: <span class="dark:text-gray-400 text-[15px] uppercase text-blue-700"> {{product.get_product_size}} </span> </p>
                                
                            </div>
                        </div>
                        <div class="flex justify-between space-x-8 items-start w-full">
                            <p class="text-base dark:text-black xl:text-lg font-semibold leading-6 text-gray-800">{{product.products.category.category_name}}</p>
                            <p class="text-base dark:text-black xl:text-lg leading-6 text-gray-800">01</p>
                            <p class="text-base dark:text-black xl:text-lg leading-6">{{product.products.price}} </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
                {% endfor %}
              
            </div>
            
        </div>
    </div>
</div>
<hr class="w-[75%] m-auto p-2">
<h2 class="text-center text-xl font-serif py-3"> It seemd it ends here !🤷‍♂️👏</h2>
{% else %}
<section class="flex items-center my-14 h-full sm:p-16  dark:text-black">
	<div class="container flex flex-col items-center justify-center px-5 mx-auto my-8 space-y-8 text-center sm:max-w-md">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class=" animate-bounce w-40 h-40 dark:text-gray-600">
			<path fill="currentColor" d="M256,16C123.452,16,16,123.452,16,256S123.452,496,256,496,496,388.548,496,256,388.548,16,256,16ZM403.078,403.078a207.253,207.253,0,1,1,44.589-66.125A207.332,207.332,0,0,1,403.078,403.078Z"></path>
			<rect width="176" height="32" x="168" y="320" fill="currentColor"></rect>
			<polygon fill="currentColor" points="210.63 228.042 186.588 206.671 207.958 182.63 184.042 161.37 162.671 185.412 138.63 164.042 117.37 187.958 141.412 209.329 120.042 233.37 143.958 254.63 165.329 230.588 189.37 251.958 210.63 228.042"></polygon>
			<polygon fill="currentColor" points="383.958 182.63 360.042 161.37 338.671 185.412 314.63 164.042 293.37 187.958 317.412 209.329 296.042 233.37 319.958 254.63 341.329 230.588 365.37 251.958 386.63 228.042 362.588 206.671 383.958 182.63"></polygon>
		</svg>
		<p class="text-3xl font-serif text-blue-400">Looks like there is no purchase has been done by you yet</p>
		<a rel="noopener noreferrer" href="/" class="px-8 py-3 font-semibold rounded bg-violet-400 text-gray-900">Back to homepage</a>
	</div>
</section>
{% endif %}


{% endblock content %}