<!-- templates/index.html -->

{% extends "base.html" %}


{% block content %}


<div
	class="grid max-w-screen-xl grid-cols-1 gap-8 px-8 mx-auto rounded-lg md:grid-cols-2 md:px-12 lg:px-16 xl:px-32  dark:text-black   py-[2rem] md:py-[5rem] ">
	<div class="flex flex-col justify-between">
		<div class="space-y-2">
			<h2 class="text-4xl font-bold leadi  lg:text-5xl ">Let's talk!</h2>
			<div class="dark:text-green-800 pt-2 text-green-800 animate-bounce text-xl">A <span
					class="text-2xl uppercase ">token</span> will be send to your registered email address after
				submitting the form correctly</div>
		</div>
		<img src="https://mambaui.com/assets/svg/doodle.svg" alt="" class="p-3 h-52 hidden md:flex  md:h-64">
	</div>
	<form class="space-y-6 " method="post">
		{% csrf_token %}

		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li class="text-xl font-serif text-blue-500  border-b-8">{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		<div>
			<label for="text" class="block mb-2 text-sm">First name</label>
			<input type="text" name="first_name" required="true" placeholder="Leroy.."
				class="w-full px-3 py-2 border rounded-md dark:border-gray-700  dark:text-black">
		</div>
		<div>
			<label for="text" class="block mb-2 text-sm"> Last Name</label>
			<input type="text" name="last_name" required="true" placeholder="Jenkins.."
				class="w-full px-3 py-2 border rounded-md dark:border-gray-700  dark:text-black">
		</div>
		<div>
			<label for="Email" class="block mb-2 text-sm">Email</label>
			<input type="email" name="email" id="email" required="true" placeholder="leroy@jenkins.com"
				class="w-full px-3 py-2 border rounded-md dark:border-gray-700  dark:text-black">
		</div>
		<div>
			<div class="flex justify-between mb-2">
				<label for="password" class="text-sm">Password</label>
			</div>
			<input type="password" name="password" required="true" id="password" placeholder="*****"
				class="w-full px-3 py-2 border rounded-md dark:border-gray-700  dark:text-black">
		</div>
		<button type="submit"
			class="w-full px-8 py-3 font-semibold  border border-red-600 rounded-md dark:bg-violet-400 dark:text-gray-900">Sign
			in</button>

		<p class="px-6 text-sm text-center underline dark:text-gray-600">Already have a account?
			<a rel="noopener noreferrer" href="/login" class="hover:underline dark:text-violet-700">Login</a>.
		</p>
	</form>
</div>

{% endblock content %}